<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% content = '<a href="https://example.com" target="_blank" style="text-align:center;text-docration:none;"><span style="color: red">https://example.com</span></a>' %>
  <%= simple_format content %>>


<%= yield %>

</body>
</html>
